/*Main CSS Style Sheet  */

/* 
   External Font Reference:

   font-family: museo-slab, serif; 
      font-weight: 300, 700, 900;

   font-family: 'Lato', sans-serif;
      font-weight: 300, 400, 400i;

   font-family: 'Patrick Hand', san-serif;
      Small Caps
   font-family: 'Patrick Hand SC', san-serif;
*/

/* Top level CSS */

 .hidden 
 {
    display: none;
 }

 #gridCon
 {
    display:grid;
    grid-template-columns: 1fr 400px 400px 400px 1fr;
    grid-template-rows: auto;
    /* background-color: #fffef0; */
    /* grid-template-areas: 
      "header header header header header"
      ". main main main ."
      "footer footer footer footer footer";  */

 }

.button
{
   border-radius: 50px;
   border: #00a984 solid 5px;
   height: 40px;
   width: 200px;
   color: #00a984;  
   font-family: museo-slab, serif;
   font-weight: 700;
   font-size: 1.7rem;
   height: 40px;
   width: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.7rem;
   transition: color .4s ease;
}

.section
{
     height: 100vh;
     /* background-color: #fffef0; */
     grid-column: 2/5;
}

body
{
   scroll-behavior:smooth;
}

a
{
   text-decoration: none
}

@media screen and (min-width: 20px) {
   #articleCon
   {
      height: 800vh;
   }

   #mapProjectCon
   {
      height: 700vh;
   }
   #mapContent
   {
      height: 20vh;
   }
   #projectsCon
   {
      height: 0vh;
   }
}


/* END of top level CSS */

/* Modal Styling */

.modal
{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 597px;
   max-width: 100%;
   height: 500px;
   max-height: 100%;
}

.btn 
{
   background: #428bca;
   border: #357ebd solid 1px;
   border-radius: 25px;
   color: #fff;
   display: inline-block;
   font-size: 14px;
   padding: 8px 15px;
   text-decoration: none;
   text-align: center;
   min-width: 60px;
   position: relative;
   transition: color .4s ease;
}

.btn:hover 
{
   background: #357ebd;
}
.btn-close 
{
   color: #aaaaaa;
   font-size: 30px;
   text-decoration: none;
   position: absolute;
   right: 5px;
   top: 0;
}

.btn-close:hover 
{
   color: #919191;
}

.modal:target:before 
{
   display: none;
}

.modal:before 
{
   content:"";
   display: block;
   background: rgba(0, 0, 0, 0.6);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 10;
}

.modal .modal-dialog 
{
   background: #fffef0;
   border: #333333 solid 1px;
   border-radius: 15px;
   margin-left: -200px;
   position: fixed;
   left: 50%;
   z-index: 11;
   width: 500px;
   -webkit-transform: translate(0, 0);
   -ms-transform: translate(0, 0);
   transform: translate(0, 0);
   -webkit-transition: -webkit-transform 0.4s ease-out;
   -moz-transition: -moz-transform 0.4s ease-out;
   -o-transition: -o-transform 0.4s ease-out;
   transition: transform 0.4s ease-out;
   top: 20%;
}

.modal:target .modal-dialog 
{
   top: 100%;
   -webkit-transform: translate(0, 500%);
   -ms-transform: translate(0, 500%);
   transform: translate(0, 500%);
}

.modal-body 
{
   padding: 20px;
}

.modal-header, .modal-footer 
{
   padding: 10px 20px;
}

.modal-footer 
{
   text-align: center;
}

/* END of modal styling */

/* Header Section styling*/

#header
{
   grid-row-start: 1;
   grid-column: 1/-1;
   display:grid;
   grid-template-columns: 1fr 400px 400px 400px 1fr;
   max-height: 200px;
   grid-gap:0px
}

#headerCon
{  
   display:flex;
   flex-direction: row; 
   justify-content: space-between;
   align-items: center;
   grid-column: 2/5;
}

#logoCon
{
   width:230px;
   margin-top: 15%;
   margin-left: 5%;
}

#logoCon img
{
   width: 100%;
   height: auto;
}

#hero
{   
    grid-column: 1/-1;
    grid-row-start: 1;
    max-width: 100%;
    max-height: 100vh;
}

nav
{
   display: flex;
   flex-direction: row;
   align-items: flex-end;
   height: 50px;
   margin-top: 14%;
   flex-flow: row wrap
}

#siteNav
{
   display: flex;
   flex-flow: row wrap
}

#siteNav li
{
   padding: 5px 20px 3px 18px;
   background-color: #fffef0;
   margin-left: 20px;
   font-family: museo-slab, Arial, Helvetica, sans-serif;
   font-weight: 700;
   font-size: 1.3rem;
   margin-bottom: 10%;
   border-bottom: #00a984 solid 7px;
   transition: color .4s ease;

}

#siteNav a li
{
   text-decoration: none;
   color:#00a984;
}

#siteNav a li:hover
{
   color: #fffef0;
   background-color: #00a984;
   transition: color .4s ease-out;
}

/* 
#siteNav li:hover
{
   background-color:#00a984;
   color: #fffef0;
} */

.socialMediaIco
{
   
}

.missionStatement
{
   grid-column: 1/span 3;
   grid-row: gap 1 / span 2;
   font-weight: 900;
   font-size: 4rem;
   margin-top: 75vh;
   margin-left: 20vw; 
   z-index: 2;
   display: flex;
   flex-flow: column wrap;
   color: #fff
}

#msHead
{
   grid-row: 1 / 3;
   font-family: museo-slab, Arial, Helvetica, san-serif;
   width: 45rem;
   z-index: 3;
   max-height: 200px
}

#msSubhead
{
   font-family:'patrick hand', Arial, Helvetica, san-serif;
   padding-top: 22vh;
   grid-row: 1 / 3;
   z-index: 3;
   font-size: 2.04rem;
   margin-left: 25vw; 
   max-height: 200px
}

.msSubheadBg
{
   grid-row: 1 / span 2;
   z-index: 2;
   background-color: #1ca4d8;
   width: inherit;
   margin: .4rem;
   padding: 0 0 .2rem .6rem ;
}


.msSubheadBg:nth-of-type(1) {
      width: 29.7rem;
  }

.msSubheadBg:nth-of-type(2) {
   width: 34.2rem
}
.msSubheadBg:nth-of-type(3) {
      width: 25.2rem;
  }
 /* End of Header Section Styling*/


 /* About Section Styling*/
 /* Texture pattern was downloaded from www.toptal.com/designers/subtlepatterns/ */

 #aboutCon
 {
    grid-column: 1/ -1;
    grid-row:2/3;
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    height: 100vh;
 }
 

#aboutConBg
{
   background-image: url("../images/tex-white-wave.png");
   background-repeat: repeat;
   height: 100vh;
   grid-column: 1/span 3;
   grid-row:2/3;

}

.aboutBody
{
   background-image: url("../images/tex-white-wave.png");
   background-repeat: repeat;
   height: 75vh;
   width:33%;
   font-family:'Patrick Hand SC', Arial, Helvetica, san-serif;
   font-size: 2.3rem;
   text-align: justify;
   text-justify: inter-character;
   padding-top: 25vh;
   padding-left:20%;
   padding-right: 4%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.aboutBody span
{
   margin-top: 50%;
   color: #1ca4d8;
   border-color: #1ca4d8;
   z-index: 10;
}

.aboutBody span:hover
{
   color: #fffef0;
   background-color: #1ca4d8;
   border-color: #1ca4d8;
}


#aboutImg
{
   background-image: url(../images/fish-1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   width: 60%;
   height: 100vh;
}



 /* End of About Section Styling*/

 /* Article Section Styling*/

 #articleCon
 {
    display: grid;
    grid-template-columns: 20% 55% 25%;
    grid-template-rows: auto; 
    height: 100vh;
    background-color: #fffef0;
 }

#mainArticleCon
{
   grid-column: 2/3;
   grid-row: 1/3;
   display: flex;
   flex-direction: column;
   font-family: museo-slab, Arial, Helvetica, san-serif;
   font-weight: 500;
   margin: 5% 4% 0 7%;
   /* width: 50%;
   margin: 5rem; */
   display: flex;
   align-items: center;
}


/* 
 TO BE ANIMATED

 articleImg

 */

#articleImg
{
   grid-column: 1;
   grid-row: 1/2;
}

#ArticleTitle
{
   grid-column: 2;
   grid-row: 1;
   font-size: 2.3rem;
   font-weight: 700;
   margin-bottom: 1.2%;
}

#ArticleSubhead
{
   color: white;
   background-color: #00a984;
   padding: 1% 5% .9% 3%;
   font-size: 1.2rem;
   padding-right: 10%;
}

.mainArticle p
{
   grid-column: 2;
   margin: 7% 7% 9% 7%;
   font-family: 'lato', Arial, Helvetica, sans-serif;
   line-height: 1.6rem;
   font-size: 1.2rem;

}

#eventsBtn
{
   grid-row: 4;
   border-radius: 50px;
   border: #00a984 solid 5px;
   height: 30px;
   width: 450px;
   color: #00a984;  
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 700;
   font-size: 1.7rem;

   /* background-color:; */
} 

#eventsBtn:hover
{
   grid-row: 4;
   border-radius: 50px;
   border: #00a984 solid 5px;
   color: #fffef0;  ;
   background-color:#00a984;
   /* transition-duration: 0.8ms; */
} 

#articleFeedCon
{
   max-height: 100vh;
   overflow: hidden;

}

#articleFeedHead
{
   grid-column: 3;
   margin-top: 15%;
   padding-bottom: 3%;
   font-family: museo-slab, Arial, Helvetica, san-serif;;
   font-weight: 700;
   font-size: 1.4rem;
   border-bottom: #00a984 solid 8px; 
   margin-bottom: 6%
}
#articleFeed
{
   grid-row: 1/span 2;
   display: flex;
   flex-flow: column;
   /* justify-content: center;
   align-items: center; */
}

.smArticleCon
{
   display: flex;
   flex-flow: row;
   justify-content: space-around;
   width: 100%;
   margin-bottom: 3%
   /* height: 300px; */
}

.smArticleImg
{
   height: 150px;
   width: 150px
}

.sm
{
   z-index: 2;
   margin-top: 3%;
   margin-bottom: 10%;
   font-family: museo-slab, Arial, Helvetica, san-serif;;
   font-weight: 500;
   font-size: 1.2rem;
   line-height: 1.4rem;
   margin: 3% 0 0 4%;
   max-height: 150px;
}

/* 
 #articleFeed li:nth-child(1)
{
   background-image: url(../images/fish-1.jpg);
   background-repeat: no-repeat;
   background-size: cover;

}

#articleFeed li:nth-child(2)
{
   background-image: url(../images/fish-2.jpg);
   background-repeat: no-repeat;
   background-size: cover;

}

#articleFeed li:nth-child(3)
{
   background-image: url(../images/fish-1.jpg);
   background-repeat: no-repeat;
   background-size: cover;

} */

/* End of Article Section Styling */



#mapProjectCon
{
   font-family: 'Patrick Hand', Arial, Helvetica, san-serif;
   /* background-color: #fffef0; */
   height:120vh;
   grid-column: 1/-1;
   grid-row: 4/6;
   display:grid;
   grid-template-columns: 1fr 400px 400px 400px 1fr;
   grid-template-rows: min-content auto;
   height: 200vh;
}

#mapImg
{
   grid-column: 1/-1;
   grid-row: 1;
   width: 100%;
   height: auto;
   margin: 0;
}

#mapContent
{
   grid-column: 2/5;
   font-size: 1.5rem;
   line-height: 1.8rem;
   height: 45vh;
   padding: 2%;
   padding-left:15%;
   grid-row: 2/3;
   margin-bottom:10% 
}

#mapContentbg
{
   background-image: url(../images/fan-waves.png);
   background-repeat: repeat;
   grid-column: 1/-1;
   grid-row: 2/4;
   z-index: -3;
   padding-bottom: 5%;

}

#mapContent h2
{
   font-family: museo-slab, Helvetica, san-serif;
   font-weight: 700;
   font-size: 2.2rem;
   line-height: 1.2;
   color: #00a984;
   padding: 2%;
   max-width: 900px;   
   padding-right:13%;
}

#mapContent p
{
   padding: 0 19% 0 5%;
}

.projectsTitle
{
   grid-row: 3/4;
   grid-column: 2/5;
   z-index: 1;
   color: #fffef0;
   font-size: 2rem;
   max-width: 65%;
   line-height: 2.5rem;
   margin-left: 20%;
   margin-bottom: -4%;
   margin-top: -55px;
   height: 0px;
   padding-top: 0px;
   border-left-style: solid;
   margin-left: 21%
}

.projectsTitleBg
{
   color: #fff;
   background-color: #ff7777;
   padding-left: 4%;
   padding-right: 3%;
   z-index: 3;

}

#projectImg
{
   grid-column: 1/ span 2;
   grid-row: 4;
   max-width: 60vw;
   height: auto;
   margin:-3% 0 10% 0
}

#projectsCon
{
   grid-column: 3/5;
   grid-row: 4;
   height: 80vh;
   display: flex;
   flex-flow: column;
   justify-content: space-around;
   align-items: center;
   /* background-color:  rgb(77, 77, 77, .2); */
   max-height: 90%;
   margin: 0% 20% 
}

#viewMore
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 600px; 
   /* float: right; */
   /* margin: 20% 12% */
   /* background-color:rgb(3, 3, 3, .7); */
   max-height: 60%
}

#viewMoreArr
{
   max-width: 120px;
   margin-bottom: 10%;
}

#viewMoreBtn
{
   color: #ff7777;
   border-style: none;
   border-radius: 0;
   border-bottom: #ff7777 solid 7px
}

#donate
{
   /* background-color:rgb(3, 3, 3, .2); */

}

#donateBtn
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   justify-self: flex-end;
   align-items: center;
   max-height:87%;
   margin-left: 50px;
   z-index: 3;
   color: #ff7777;
   border-color: #ff7777;
   padding: 0 50% 0 50%;
   margin-right: 40%;
}

#donateBtn:hover
{
   color: #fffef0;
   background-color: #ff7777;
}


#contactUs
{
   grid-row: 6/7;
   margin-top: -11%;
   height: 88vh;
   z-index: 0;
}

#contactUs h2
{
   font-family: 'museo-slab', Arial, Helvetica, sans-serif; 
   font-weight: 900;
   font-size: 5rem;
   background-color: #78d0f2;
   color: #fffef0;
   padding: 1.5%;
   padding-left: 2.5%;
   width: 480px;
   margin-top: 5%;
   margin-left: 6%;
   z-index: 4;
}

#contactUsCon
{
   display:flex;
   flex-flow: row;
   justify-content: space-evenly;
   z-index: 0;
}

#welcome
{
   font-family: museo-slab, Arial, Helvetica, sans-serif; 
   font-weight: 700;
   font-size: 2.4rem;
   color: #78d0f2;
   text-align: center;
   line-height: 2.6rem;
   width: 420px;
   margin: -15% 0 0 -3%;
   z-index: 0;

}


#contactUsCon p
{
   font-family: 'Patrick Hand', Arial, Helvetica, san-serif;
   font-size: 1.5rem;
   display: flex;
   flex-flow: column;
   justify-content: space-evenly;
   align-items: center;
   width: 300px;   
   line-height: 2rem;
 
   height: 530px;
   z-index: -1;
   border-right: 2px solid #6c6c66;
   margin: -5% 11px 0 10%;
   padding-right: 100px;
   /* float: left; */
}


form
{
   display: flex;
   flex-flow: column wrap;
   width: 450px;
   height: 500px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 65px;
   margin-left: 0px;padding-left: 65px;
   padding-top: 86px;
   padding-bottom: -37px;height: 409px;
   margin-bottom: -51px;
   margin-top: -89px;

}

#formCon input, textarea
{
   border-radius: 3px;
   margin-bottom: 13px;
}

input
{
   width: 360px;
   border: 1px solid #ccc;
   padding-left: 10px;
   font-family: 'lato', sans-serif;
   margin-left: 15px;
}

input::placeholder, textarea::placeholder 
{
   font-family: 'lato', sans-serif;
   font-style: italic;
}

textarea 
{
   width: 80%;
   height: 250px;
   border: 1px solid #ccc;
   padding-left: 10px;
   font-family: 'lato', Arial, Helvetica, sans-serif;
   margin-left: 15px;
   line-height: 2rem;
}

#submitBtn 
{
   width: 100px;
   height: 30px;
   background: #00a984;
   color: #fffef0;
   font-family: 'lato', sans-serif;
   padding-right: 10px;
   margin-left: 146px;
   letter-spacing: 1px;
   margin-bottom: 0px;
   border-radius: 25%;
}


#sponserCon
{
   grid-column: 1/-1;
   margin-top: 20vh;
   display: flex;
   flex-flow: column ;
   justify-content: flex-start;
   align-items: center;
   background-color: #fff;
   padding-top:3%;
   height: 60vh;
}

#sponserHeader 
{
   font-family: museo-slab, Arial, Helvetica, sans-serif; 
   font-weight: 700;
   font-size: 2.5rem;
   color: #00a984;
   display: flex;
   align-items: center;
   justify-content: center;
   width:100%;
   margin-bottom: .5%
}

#sponserSubhead
{
   width: 80%;
   padding: 1% 0 1% 0;
   background-color: #00a984;
   color:#fffef0;
   font-family: 'Patrick Hand', Arial, Helvetica, san-serif;
   font-size: 1.5rem;
   text-align: center
}

#sponserLogoCon
{
   width: 900px;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-evenly;

}

.sponserLogo
{
   margin-top:4%
}