/*Main CSS Style Sheet  */

/* 
   External Font Reference:

   font-family: museo-slab, serif; 
      font-weight: 300, 700, 900;

   font-family: 'Work+Sans', sans-serif;
      font-weight: 400,500;

   font-family: 'Patrick Hand', san-serif;
      Small Caps
   font-family: 'Patrick Hand SC', san-serif;
*/

/* Top level CSS */

 .hidden 
 {
   display:none;
 }

 #gridCon
 {
    display:grid;
    grid-template-columns: 1fr 400px 400px 400px 1fr;
    grid-template-rows: auto;
    /* background-color: #fffef0; */
    /* grid-template-areas: 
      "header header header header header"
      ". main main main ."
      "footer footer footer footer footer";  */
 }

.subGrid
{
   display:grid;
   grid-template-columns: 1fr 400px 400px 400px 1fr;
   grid-template-rows: auto;
}

.button
{
   border-radius: 50px;
   border: #9bbe4b solid 5px;
   width: 200px;
   color: #9bbe4b;  
   font-family: museo-slab, serif;
   font-weight: 700;
   font-size: 1.7rem;
   height: 40px;
   width: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.7rem;
   transition: color .4s ease;
}

.boxShadow
{
   -webkit-box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.38);
   -moz-box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.38);
   box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.38);
}

.boxShadowLow
{
   -webkit-box-shadow: 10px 10px 95px -43px rgba(0,0,0,0.29);
   -moz-box-shadow: 10px 10px 95px -43px rgba(0,0,0,0.29);
   box-shadow: 10px 10px 95px -43px rgba(0,0,0,0.29);
}

.boxShadowUpper
{
-webkit-box-shadow: 0px 11px 291px -43px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 11px 291px -43px rgba(0,0,0,0.4);
box-shadow: 0px 11px 291px -43px rgba(0,0,0,0.4);
}

.section
{
     height: 100vh;
     /* background-color: #fffef0; */
     grid-column: 2/5;
}

body
{
   scroll-behavior:smooth;
}

a
{
   text-decoration: none
}
/* 
@media screen and (min-width: 20px) {
   #articleCon
   {
      height: 800vh;
   }

   #mapProjectCon
   {
      height: 700vh;
   }
   #mapContent
   {
      height: 20vh;
   }
   #projectsCon
   {
      height: 0vh;
   }
} */


/* END of top level CSS */

/* Modal Styling */

/* END of modal styling */

/* Header Section styling*/

#header
{
   grid-column: 2/5;

   grid-row-start: 1;
   /* grid-column: 1/-1; */
   display:grid;
   /* grid-template-columns: 1fr 400px 400px 400px 1fr; */
   max-height: 200px;
   grid-gap:0px
}

#headerCon
{  
   display:flex;
   flex-direction: row; 
   justify-content: space-between;
   align-items: center;
}

#logoCon
{
   width:230px;
   margin-top: 16%;
   margin-left: 10%;
   border-radius: 100%;
   z-index: 4;
}

#logoCon img
{
   width: 100%;
   height: auto;
}

#hero
{   
    grid-column: 1/-1;
    grid-row-start: 1;
    max-width: 100%;
    max-height: 100vh;
    z-index: 2;
}

nav
{
   display: flex;
   height: 50px;
   margin-top: 12%;
   flex-flow: row wrap;
   justify-content: flex-end;
   align-content: center;
   z-index: 3;

}

#siteNav
{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   align-content: flex-end;
   margin-top: 10rem;
   width: 70%;
   margin-right:10%;
}

.navItem
{
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   padding: 5px 20px 3px 18px;
   font-family: museo-slab, Arial, Helvetica, sans-serif;
   font-weight: 700;
   font-size: 1.3rem;
   margin-bottom: 10%;
   border-bottom: #9bbe4b solid 3px;
   transition-property: color background-color;
   text-decoration: none;
   color:#606060;
   background-color: #fffef0;
   border-radius: 2px;
}

.navItem:hover
{
   background-color: #9bbe4b;
   color: #fffef0;
   transition: color 500ms cubic-bezier(.79,.14,.15,.86);   
   -moz-transition: color 500ms cubic-bezier(.79,.14,.15,.86);   
   -webkit-transition: color 500ms cubic-bezier(.79,.14,.15,.86);   
   transition: background-color 700ms cubic-bezier(.79,.14,.15,.86);
   -moz-transition: background-color 700ms cubic-bezier(.79,.14,.15,.86);
   -webkit-transition: background-color 700ms cubic-bezier(.79,.14,.15,.86);
}

.navItem:active
   {
      color: #fffef0;
      background-color: #9bbe4b;
   }

#socialMedia
{
   display: flex;
   align-content:space-around; 
   justify-items: center;  
   flex-flow: row;
   width: 30%;
   margin-left: 20px 
}

.socialMediaIco
{
   max-width: 25px;
   height: auto;
   padding: 0 10px 0 10px
}

.missionStatement
{
   grid-column: 1/span 3;
   grid-row: gap 1 / span 2;
   font-weight: 900;
   font-size: 4rem;
   margin-top: 75vh;
   margin-left: 20vw; 
   z-index: 2;
   display: flex;
   flex-flow: column wrap;
   color: #fff
}

#msHead
{
   grid-row: 1 / 3;
   font-family: museo-slab, Arial, Helvetica, san-serif;
   width: 45rem;
   z-index: 3;
   padding-right: 17px;
   padding-left: 19px;
   margin-right: -106px;
   padding-top: 7px;
   max-height: 140px;
   margin-top: 71vh;
}

#msSubhead
{
   font-family:'patrick hand', Arial, Helvetica, san-serif;
   padding-top: 22.6vh;
   grid-row: 1 / 3;
   z-index: 3;
   font-size: 2.04rem;
   margin-left: 25vw; 
   max-height: 200px
}

.msSubheadBg
{
   grid-row: 1 / span 2;
   z-index: 2;
   background-color: #1ca4d8;
   width: inherit;
   margin: .3rem;
   padding: 0 0 .4rem .6rem ;
}


.msSubheadBg:nth-of-type(1) {
      width: 29.7rem;
  }

.msSubheadBg:nth-of-type(2) {
   width: 34.2rem
}
.msSubheadBg:nth-of-type(3) {
      width: 25.2rem;
  }
 /* End of Header Section Styling*/


 /* About Section Styling*/
 /* Texture pattern was downloaded from www.toptal.com/designers/subtlepatterns/ */

 #aboutCon
 {
    grid-column: 1/ -1;
    grid-row:2/3;
    z-index: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    height: 110vh;
 }
 

/* #aboutConBg
{
   background-image: url("../images/tex-white-wave.png");
   background-repeat: repeat;
   height: 100vh;
   grid-column: 1/span 3;
   grid-row:2/3;

} */

.aboutBody
{
   background-image: url("../images/tex-white-wave.png");
   background-repeat: repeat;
   height: 85vh;
   width:33%;
   display: flex;
   font-family:'Patrick Hand SC', Arial, Helvetica, san-serif;
   font-size: 2.3rem;
   text-align: justify;
   text-justify: inter-character;
   padding-top: 25vh;
   padding-left:20%;
   padding-right: 4%;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   z-index: -1;
}

.aboutBody p
{
   margin-top: 20%
}

.aboutBody span
{
   margin-top: 30%;
   color: #1ca4d8;
   border-color: #1ca4d8;
   z-index: 10;
   width: 230px;
   margin-bottom: 50%;
   border-radius: 9○
}

.aboutBody span:hover
{
   color: #fffef0;
   background-color: #1ca4d8;
   border-color: #1ca4d8;
}


#aboutImg
{
   background-image: url(../images/fish-1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   width: 60%;
   height: 110vh;
   z-index: -2;
}



 /* End of About Section Styling*/

 /* Article Section Styling*/

 #articleCon
 {
    display: grid;
    /* grid-template-columns: 20% 55% 25%; */
    grid-template-columns:  1fr 300px 600px 300px 1fr;
    grid-template-rows: 20vh 80vh  4vh;
    height: 104vh;
    background-color: #fffef0;
    grid-column: 1/-1;
    z-index: 3;

 }

#mainArticleCon
{
   grid-column: 3/4;
   grid-row: 1/2;
   display: flex;
   flex-flow: row wrap;
   font-family: museo-slab, Arial, Helvetica, san-serif;
   font-weight: 500;
   margin: 5% 4% 0 0;
   /* width: 50%;
   margin: 5rem; */
   align-items: flex-start;
   justify-content: center
}


/* 
 TO BE ANIMATED

 articleImg

 */

#articleImg
{
   grid-column: 2;
   grid-row: 2;
}

#ArticleTitle
{
   grid-column: 2/3;
   grid-row: 1;
   font-size: 2.3rem;
   font-weight: 700;
   margin-bottom: 1.2%;
}

#ArticleSubhead
{
   color: white;
   background-color: #9bbe4b;
   padding: 1% 4% 1% 3%;
   font-size: 1.2rem;
}

.mainArticle p
{
   padding-top: 1rem;
   margin: 0 10% 0 10%;
   grid-column: 2;
   font-family: 'Work-Sans', Arial, Helvetica, sans-serif;
   line-height: 1.6rem;
   font-size: .9rem;
   font-weight: 400;
   text-align: justify;
   text-justify: newspaper;
}

.mainArticle p:nth-of-type(1n+2)
{
   text-indent: 6%;  
   padding-top: 1rem;
}

.mainArticle p:last-of-type
{
   padding-bottom: 2rem;

}



#eventsBtn
{
   grid-row: 4;
   border-radius: 50px;
   border: #9bbe4b solid 5px;
   height: 30px;
   width: 450px;
   color: #9bbe4b;  
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 700;
   font-size: 1.5em;
   margin-top: 5%;
   /* background-color:; */
   margin-bottom: 5%;

} 

#eventsBtn:hover
{
   border-radius: 50px;
   border: #9bbe4b solid 5px;
   color: #fffef0;  ;
   background-color:#9bbe4b;
   /* transition-duration: 0.8ms; */
} 

#articleFeedCon
{
   max-height: 100vh;
   grid-column: 4;

}

#articleFeedHead
{
   margin: 15% 0 10% 0;
  padding-right: 11px;
   padding-bottom: 3%;
   font-family:'museo-slab', Arial, Helvetica, san-serif;;
   font-weight: 700;
   font-size: 1.4rem;
   border-bottom: #9bbe4b solid 8px; 
   text-align:right;
   
}
#articleFeed
{
   display: flex;
   flex-flow: column;
   justify-content: flex-start;
   align-items: flex-start;
}

.smArticleCon
{
   display: flex;
   flex-flow: row;
   justify-content: space-around;
   width: 100%;
   /* height: 300px; */
}

.smArticleImg
{
   height: 130px;
   width: auto;
   margin-left: 5%;
}

.sm
{
   z-index: 2;
   margin-top: 3%;
   font-family: 'work-sans', Arial, Helvetica, san-serif;;
   font-weight: 400;
   font-size: .9rem;
   line-height: 1.1rem;
   margin: 3% 8% 0 4%;
   max-height: 150px;
}

.sm::first-line
{
   font-size: 1.2rem;
   font-weight: 500;
}

/* 
 #articleFeed li:nth-child(1)
{
   background-image: url(../images/fish-1.jpg);
   background-repeat: no-repeat;
   background-size: cover;

}

#articleFeed li:nth-child(2)
{
   background-image: url(../images/fish-2.jpg);
   background-repeat: no-repeat;
   background-size: cover;

}

#articleFeed li:nth-child(3)
{
   background-image: url(../images/fish-1.jpg);
   background-repeat: no-repeat;
   background-size: cover;

} */

/* End of Article Section Styling */



#mapProjectCon
{
   font-family: 'Patrick Hand', Arial, Helvetica, san-serif;
   /* background-color: #fffef0; */
   height:180vh;
   grid-column: 1/-1;
   grid-row: 5/6;
   grid-template-rows: min-content auto;

}

#mapImg
{
   grid-column: 1/-1;
   grid-row: 4;
   width: 100%;
   height: auto;
   margin: 0;
   z-index: -3;

}

#mapContent
{
   grid-column: 2/5;
   grid-row: 1;
   font-size: 1.5rem;
   line-height: 1.8rem;
   height: 45vh;
   padding: 2%;
   padding-left:15%;
   margin-bottom:10% 
}

#mapContent h2
{
   font-family: museo-slab, Helvetica, san-serif;
   font-weight: 700;
   font-size: 2.2rem;
   line-height: 1.2;
   color: #9bbe4b;
   padding: 2%;
   max-width: 900px;   
   padding-right:13%;
   z-index: 5;

}

#mapContent p
{
   padding: 0 19% 0 5%;
}

.projectsTitle
{
   grid-row: 2;
   grid-column: 2/5;
   color: #fffef0;
   font-size: 2rem;
   max-width: 65%;
   line-height: 2.5rem;
   margin-left: 20%;
   margin-bottom: -4%;
   margin-top: -65px;
   height: 0px;
   padding-top: 0px;
   border-left-style: solid;
   margin-left: 21%;
   z-index: 3;

}

.projectsTitleBg
{
   color: #fff;
   background-color: #9bbe4b;
   padding-left: 4%;
   padding-right: 3%;
   z-index: 3;
   margin-right: 10px;
}

#projectImg
{
   grid-column: 1/ span 2;
   grid-row: 2;
   max-width: 60vw;
   height: auto;
   margin:-3% 0 10% 0
}

#projectsCon
{
   grid-column: 4/5;
   grid-row: 2;
   height:auto;
   max-height: 100vh;
   display: flex;
   flex-flow: column;
   justify-content: space-evenly;
   align-items: center;
   /* background-color:  rgb(77, 77, 77, .2); */
}


#projectText
{
   font-family: 'Work Sans', Arial, Helvetica, sans-serif;
   line-height: 1.2rem;
   font-size: 1rem;
   width: 500px;
   margin-top: 30%;
   margin-bottom: 10%;
   color: #101010;
}

#projectText h2
{
   font-family: 'museo-slab', Arial, Helvetica, sans-serif;
   font-weight: 700;
   font-size: 2rem;
   line-height: 1.7rem;
   text-align: right;
   width: auto;
   padding:1%;
   max-width: 230px;
   float: right;
   background-color: #9bbe4b;
   color:  #fffef0
}

#projectText p
{
   margin-left: 5%;
   margin-right: 1%;
   float: left;
   height: 166px;
   width: 222px;
   text-align: justify;
   text-justify: inter-cluster;
   line-height: 1.2rem;
   margin-top:69px;
}

#viewMore
{
   box-sizing: border-box;
   border-bottom: #ff7777 solid 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 220px;
   height: auto;
   /* float: right; */
   /* margin: 20% 12% */
   /* background-color:rgb(3, 3, 3, .7); */
}

#viewMoreArr
{
   width: 110px;
   height: auto;
   margin-bottom: 10%;
   z-index: 100;
}

#viewMoreBtn
{
   box-sizing: border-box;
   color: #ff7777;
   border-radius: 0;
   font-family: museo-slab, serif;
   font-weight: 700;
   font-size: 1.5rem;
   height: 40px;
   width: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#viewMore:hover
{
   border-bottom: #ff7777 solid 9px;
   transition: border-bottom .3s ease-out;
   -moz-transition: border-bottom .4s ease;
   -webkit-transition: border-bottom .4s ease;
}

#donateCon
{
   grid-column: 2/3;
   grid-row: -1;
   display: flex;
   flex-flow: row;
       flex-direction: row;
       flex-wrap: nowrap;
   justify-content: center;
   align-items: stretch;
   margin-left: 500px;
   margin-bottom: 110px;

}


#donateBtn
{
   color: #ff7777;
   width: 400px;
   border: #ff7777 solid 5px;
}

#donateBtn:hover
{
   transition: color .4s ease;
   transition: background-color .4s ease;
   color: #fffef0;
   background-color: #ff7777;
}


#contactUs
{
   grid-row: 6/7;
   margin-top: -5%;
   height: 88vh;
   z-index: 0;
}

#contactUs h2
{
   font-family: 'museo-slab', Arial, Helvetica, sans-serif; 
   font-weight: 900;
   font-size: 5rem;
   background-color: #78d0f2;
   color: #fffef0;
   padding: 1.5%;
   padding-left: 5%;
   padding-right: 5%;
   width: 480px;
   margin-left: 16%;
   z-index: 4;
}

#contactUsCon
{
   display:flex;
   flex-flow: row;
   justify-content: space-evenly;
   z-index: 0;
}

#welcome
{
   font-family: 'museo-slab', Arial, Helvetica, sans-serif; 
   font-weight: 700;
   font-size: 2.4rem;
   color: #78d0f2;
   text-align: center;
   line-height: 2.6rem;
   width: 420px;
   margin: 15% 0 0 -3%;
   z-index: 0;

}


#contactUsCon p
{
   font-family: 'Patrick Hand', Arial, Helvetica, san-serif;
   font-size: 1.5rem;
   display: flex;
   flex-flow: column;
   justify-content: space-evenly;
   align-items: center;
   width: 300px;   
   line-height: 2rem;
   border-right: 2px solid rgb(108, 108, 99, 0.4);
   padding-right: 100px;
   margin-top: 67px;
   padding-top: 0;
   padding-right: 137px;
   margin-left: 0;
   margin-right: -101px;
   height: 372px;
   /* float: left; */
}


form
{
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: stretch;
}

#formCon input, textarea
{
   margin-bottom: 13px;
}

#formCon
{
   padding-top: 70px;
}

input
{
   width: 360px;
   border: 1px solid #ccc;
   padding-left: 10px;
   font-family: 'Work-Sans', sans-serif;
   margin-left: 15px;
}

input::placeholder, textarea::placeholder 
{
   font-family: 'Work-Sans', sans-serif;
   font-style: italic;
}

textarea 
{
   width: 359px;
   height: 191px;
   border: 1px solid #ccc;
   padding-left: 10px;
   font-family: 'WorkSans', Arial, Helvetica, sans-serif;
   margin-left: 15px;
   line-height: 2rem;
}

#submitBtn 
{
   height: 40px;
   width: 170px;
   background: #fffef0;
   color: #9bbe4b;
   font-family: 'museo-slab', Arial, Helvetica, sans-serif;
   font-size: 1.3rem;
   padding-right: 10px;
   margin: 0 auto;
   border: solid #9bbe4b 4px;
   border-radius: 100px;
   margin-top: 10px;
}

#submitBtn:hover
{
   background: #9bbe4b;
   color: #fffef0;
}

#sponserCon
{
   grid-column: 1/-1;
   margin-top: 20vh;
   display: flex;
   flex-flow: column ;
   justify-content: flex-start;
   align-items: center;
   background-color: #fff;
   padding-top:3%;
   height: 60vh;
}

#sponserHeader 
{
   font-family: museo-slab, Arial, Helvetica, sans-serif; 
   font-weight: 700;
   font-size: 2.5rem;
   color: #9bbe4b;
   display: flex;
   align-items: center;
   justify-content: center;
   width:100%;
   margin-bottom: .5%
}

#sponserSubhead
{
   width: 80%;
   padding: 1% 0 1% 0;
   background-color: #9bbe4b;
   color:#fffef0;
   font-family: 'Patrick Hand', Arial, Helvetica, san-serif;
   font-size: 1.5rem;
   text-align: center
}

#sponserLogoCon
{
   width: 900px;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-evenly;

}

.sponserLogo
{
   margin-top:4%
}